{% extends 'base.html' %}

{% block page_title %}
    {{ autor.nom }}
{% endblock %}

{% block content %}
    <article class="detailed-post">
        <div class="detail-body">
            <h1>Detalls Del Autor</h1>
            <p><strong>Nom: </strong>{{autor.nom}}</p>
            <p><strong>Cognom: </strong>{{autor.cognom}}</p>            
            <p><strong>Adreça: </strong>{{autor.adreça}}</p>            
        </div>
        <div class="last-posts">
        <h1>Posts publicats per {{autor.nom}} {{autor.cognom}}: {{autor.nombre_posts}}</h1>
        
        <div class="posts-container">
            {% for post in autor.posts.all %}
                <a href="{% url 'post-detail' post.slug %}" class="post-link">
                    <div class="post-preview">
                        {% if post.imatge %}
                            <img src="{{post.imatge.url}}" alt="{{post.titol}}" class="preview-image">
                        {% endif %}
                        <h3>{{ post.titol }}</h3>
                        <p>{{ post.contingut|truncatechars:120 }}</p>
                    </div>
                </a>
            {% empty %}
                    <p>Encara no s'ha publicat cap post.</p>
            {% endfor %}
        </div>
    </div>
    </article>
{% endblock %}