{% extends 'base.html' %}

{% block page_title %}
    {{ tag.nom_tag }}
{% endblock %}

{% block content %}
    <div class="last-posts">
        <h1>Posts amb el tag: <a href="{% url 'tags-page' %}" class="tag-return">{{tag.nom_tag}}</a></h1>
        <div class="posts-container">
            {% for post in tag.posts.all %}
                <a href="{% url 'post-detail' post.slug %}" class="post-link">
                    <div class="post-preview">
                        {% if post.imatge %}
                            <img src="{{post.imatge.url}}" alt="{{post.titol}}" class="preview-image">
                        {% endif %}
                        <h3>{{ post.titol }}</h3>
                        <p>{{ post.contingut|truncatechars:120 }}</p>
                    </div>
                </a>
            {% empty %}
                    <p>Encara no s'ha publicat cap post.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}